.core {
  flex-grow: 1;
  position: relative;
  .bottomBox {
    padding: 0 0 30px;
    @media (max-width: 1280px) {
      padding: 0 0 55px;
    }
    @media (max-width: 960px) {
      padding: 0 0 45px;
    }
    .tikiBlock {
      height: 25px;
      text-align: center;
      a {
        display: inline-block;
      }
    }
  }
}
