.core {
  flex-grow: 1;
  background: #1a1a1a;
  .wrapper {
    min-height: 60vh;
    padding-bottom: 75px;
    .heading {
      padding-top: 180px;
      text-align: center;
      h1 {
        color: white;
      }
      p {
        font-size: 1rem;
        line-height: 1.4;
        color: #818181;
        margin-top: 40px;
      }
      button {
        margin-top: 65px;
      }
    }
  }
}